<div class="sidebar">

  <div class="profile">
    <img src="../../../assets/images/young-man-profile-vector-14770074 copy 2 (1).png" alt="">
    <div class="user-name"> {{ firstName }} {{ lastName }} </div>
  </div>
  

  <div class="text-sidebar">

    <span>مراجعات</span>
    <span>گزارشات مالی</span>
    <span>نوبت های من</span>
    <span>تنظیمات</span>

  </div>

  <div (click)="logout()" class="logout" >

    <svg  width="47" height="41" viewBox="0 0 47 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M36.6414 11.8333L45.4414 20.5M45.4414 20.5L36.6414 29.1667M45.4414 20.5H16.8414M30.0414 3.60875C27.237 1.94959 23.9809 1 20.5081 1C9.97784 1 1.44141 9.73045 1.44141 20.5C1.44141 31.2696 9.97784 40 20.5081 40C23.9809 40 27.237 39.0504 30.0414 37.3912" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

</div>

</div>







