.container {
    // @apply flex flex-col justify-center items-center gap-4 p-4 rounded-xl w-96;
    // border: 2px solid #409cff;
    display: flex;
    width: 18rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2.75rem;
    padding: 1rem;
    border: 2px solid #409cff;
  }
  
  .info {
    // @apply flex justify-start items-center gap-4 w-full;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  
  .content {
    @apply flex flex-col justify-center items-center gap-2;
  }
  
  .content span {
    @apply flex justify-start items-center w-full;
  }
  
  .button-div {
    @apply flex justify-start items-center w-full;
  
    button {
      border: 2px solid #409cff;
      padding: 0.25rem;
      border-radius: 0.5rem;
      max-width: 120px;
      width: 100%;
    }
  }
  
  .name {
    @apply font-bold;
  }
  
  .expertise {
    @apply font-medium text-sm;
  }
  
  .img-div {
    height: 88px;
  }
  
  img {
    width: 84px;
    height: 84px;
    border: 2px solid #409cff;
    border-radius: 100rem;
  }
  