<div class="container">
    <div class="filter-div">
        <div class="filters" [class.minimize-filters]="!showFilters">

          <div class="open-filter-button" (click)="openFilters()">
            <img src="../../../../assets/images/filter.svg" alt="" />
            <span>فیلتر</span>
          </div>

          <span class="filter">امروز</span>
          <span class="filter">این هفته</span>
          <span class="filter">این ماه</span>
          <span class="filter" (click)="openDateTimeForm()">بازه زمانی</span>

          <div class="set-date-form" *ngIf="showDateTimeForm">
            <span>از <input type="text" value="1403/1/12" class="time" /> </span>
            <span>تا <input type="text" value="1403/3/12" class="time" /> </span>
          </div>

        </div>

      <div class="search-div" [class.minimize-search]="showFilters" (click)="showFilters ? openFilters() : '' ">
        <input type="text" [formControl]="searchControl" placeholder="جستجو" />
        <span class="material-symbols-rounded search"> search </span>
      </div>

    </div>

    <div class="table">
        <div class="container-table">
            <div class="table">

                <div class="header">
                  <span class="number">ردیف</span>
                  <span>نام </span>
                  <span> نام خانوادگی </span>
                  <span> شماره همراه </span>
                  <span> کد ملی </span>
                  <span>درباره بیمار</span>
                </div>
      
                <div class="w-full overflow-auto">
                    <div class="body">
          
                        <div style="width: 100%;" *ngFor="let user of patients">
                            <div class="row">
                              <span class="number">{{ user.id }}</span>
                              <span>{{ user.firstName }}</span>
                              <span>{{ user.lastName }}</span>
                              <span>{{ user.phoneNumber }}</span>
                              <span>{{ user.nationalCode }}</span>
                              <span style="display: flex; gap: 8px;">
                                <span style="cursor: pointer; background-color: rgb(255, 171, 14); border-radius: 8px; width: 130px; height: 40px; color: white; padding: 5px;">جزئیات</span>
                                <span style="cursor: pointer; background-color: rgb(65, 170, 255); border-radius: 8px; width: 150px; height: 40px; color: white; padding: 5px;"(click)="reserveAppointment(user.id)">گرفتن نوبت</span>            
                              </span>

                            </div>
                        </div>
                      
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</div>