<app-back-icon></app-back-icon>

<app-loading class="absolute" *ngIf="loading"></app-loading>

<div *ngIf="!loading && !isEditing && !isDeleting" class="container">
  <span class="title">ویرایش تخصص</span>

  <div class="content">
    <ng-container *ngFor="let section of sections; trackBy: trackById">
      <app-section [name]="section.title" [image]="section.imageId"></app-section>
      <img
        style="width: 47px; height: auto; margin-right: -55px; margin-top: -96px; cursor: pointer; background-color: white;"
        src="../../../assets/images/edit-circle-alt-svgrepo-com (1).svg"
        alt="ویرایش"
        (click)="editSection(section.id)"
      />
      <img
        style="width: 47px; height: auto; margin-right: -71px; margin-top: -14px; cursor: pointer; background-color: white; padding: 6px; border-radius: 10px;"
        src="../../../../assets/images/delete-svgrepo-com.svg"
        alt="حذف"
        (click)="deleteSection(section.id)"
      />
    </ng-container>
  </div>
</div>

<!-- مودال ویرایش -->
<div *ngIf="isEditing" class="modal">
  <div style="margin-top: -350px; margin-right: 500px; position: absolute;">
    <button type="button" (click)="closeModal()">
      <img
        style="width: 41px; height: auto; cursor: pointer; background-color: white; border-radius: 29px; margin-left: 60px; margin-top: 99px;"
        src="../../../assets/images/delete-svgrepo-com.svg"
        alt=""
      />
    </button>
  </div>

  <h2 style="position: absolute; margin-top: -261px; font-size: larger; font-weight: 700;">
    ویرایش تخصص
  </h2>

  <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
    <div
      style="display: flex; flex-direction: row; justify-content: center; gap: 19px; margin-right: -80px; margin-top: -45px; position: absolute;">
      <label for="title">نام تخصص :</label>
      <input style="border: none; border-bottom: 2px solid red;" id="title" formControlName="title" type="text" />
    </div>

    <div
      style="position: absolute; margin-right: -214px; margin-top: -50px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; gap: 10px;">
      <label>تصویر فعلی</label>
      <img [src]="editForm.value.imageId" alt="Current Image" style="width: 100px; height: 100px; border-radius: 100%;" />
    </div>

    <div style="position: absolute; margin-top: 26px; margin-right: -81px;">
      <div class="file">
        <label for="image">
          <i class="material-icons"> تصویر جدید </i>
        </label>
        <input id="image" type="file" (change)="onFileSelected($event)" />
      </div>
    </div>

    <div style="position: absolute; display: flex; margin-top: 104px; margin-right: -225px;">
      <button type="submit" style="background-color: forestgreen; color: aliceblue; padding: 10px 197px; margin: 10px; border-radius: 15px;">
        ذخیره
      </button>
    </div>
  </form>
</div>

<!-- مودال حذف -->
<div *ngIf="isDeleting" class="modal">
  <div style="margin-top: -350px; margin-right: 500px; position: absolute;">
    <button type="button" (click)="closeDeleteModal()">
      <img
        style="width: 41px; height: auto; cursor: pointer; background-color: white; border-radius: 29px; margin-left: 60px; margin-top: 99px;"
        src="../../../assets/images/delete-svgrepo-com.svg"
        alt=""
      />
    </button>
  </div>

  <h2 style="position: absolute; margin-top: -261px; font-size: larger; font-weight: 700;">
    حذف تخصص
  </h2>

  <div style="position: absolute; margin-top: -150px; display: flex; flex-direction: column; align-items: center;">
    <label>نام تخصص :</label>
    <span>{{ deleteForm.value.title }}</span>

    <label>تصویر فعلی :</label>
    <img [src]="deleteForm.value.imageId" alt="Current Image" style="width: 100px; height: 100px; border-radius: 100%;" />
  </div>

  <p style="position: absolute; margin-top: -50px;">آیا مطمئن هستید که می‌خواهید این تخصص را حذف کنید؟</p>

  <div style="position: absolute; display: flex; margin-top: 104px; margin-right: -225px;">
    <button (click)="confirmDelete()" style="background-color: red; color: aliceblue; padding: 10px 197px; margin: 10px; border-radius: 15px;">
      حذف
    </button>
  </div>
</div>
