:host {
    @apply flex flex-col justify-center h-full items-end;}

.container {
    @apply flex justify-center items-center gap-3 max-w-32 w-full rounded-2xl p-2
    cursor-pointer select-none z-50;
    background: #D9D9D9;
}

span {
    @apply font-bold text-xl;
}


.export-item {
    display: flex;
    cursor: pointer;
    flex-direction: row-reverse;
    gap: 2rem;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.export-menu {
    z-index: 50;
    display: flex;
    height: 100%;
    max-height: 9rem;
    width: 100%;
    max-width: 12rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border: 2px solid #409CFF;
    position: relative;
    opacity: 0.9;
    text-align: center;
    gap: 22px;
    padding: 10px;
}