<ng-container *ngIf="export">
    <div class="export-menu">

        <div class="export-item">
            <img class="w-12 h-12 mr-5" src="../../../assets/images/pdf-svgrepo-com.svg" alt="">
            <span>pdf</span>
        </div>

        <div class="export-item">
            <img class="w-12 h-12" src="../../../assets/images/xls-svgrepo-com.svg" alt="">
            <span>excel</span>
        </div>

    </div>

</ng-container>



<div class="container" (click)="getExport()">
    <img src="../../../assets/images/Vector (9).svg" alt="">
    <span>چاپ</span>
</div>

<app-t-button/>