<app-back-icon></app-back-icon>



<app-loading *ngIf="loading" class="absolute"></app-loading>

<div *ngIf="!loading" class="container">
    
    <span class="title"> حذف تخصص </span>
    <div class="content">

        <ng-container *ngFor="let section of sections; trackBy: trackById">
            <app-section [name]="section.title" [image]="section.imageId"></app-section>
            <img style="width: 41px; height: auto; margin-right: -56px; margin-top: -97px; cursor: pointer; background-color: white; border-radius: 29px;" src="../../../assets/images/delete-svgrepo-com.svg"  alt="حذف"  (click)="deleteSection(section.id)">
        </ng-container>

    </div>
</div>
