:host {
  @apply flex justify-center items-center h-full;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
}

.start-section {
  display: flex;
  width: 100%;
  max-width: 80rem;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-div {
  @apply flex justify-center ;
}

button {
  @apply bg-blue-500 text-white text-xl w-36 p-2 rounded-xl;
  font-family: vazir;
}
