<app-back-icon></app-back-icon>

<div class="container">
    <div class="items">


        <div class="item" [routerLink]="['/admin/add-provider']">

            <span class="material-symbols-rounded">
                arrow_back_ios
            </span>

            <div class="name-icon">
                <!-- <img src="../../../../assets/images/time.png" alt=""> -->
                <span> اضافه کردن دکـــــتر </span>
            </div>

        </div>

        

        <div style=" display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: nowrap;">

            <div class="item" [routerLink]="['/admin/add-specialty']">
    
                <span class="material-symbols-rounded">
                    arrow_back_ios
                </span>
    
                <div class="name-icon">
                    <!-- <img src="../../../../assets/images/time-square-svgrepo-com.svg" alt=""> -->
                    <span> اضافه کردن تخصص </span>
                </div>
    
            </div>
    
    
            <div class="item" [routerLink]="['/admin/delete-specialty']">
    
                <span class="material-symbols-rounded">
                    arrow_back_ios
                </span>
    
                <div class="name-icon">
                    <!-- <img src="../../../../assets/images/time-square-svgrepo-com.svg" alt=""> -->
                    <span> حذف کردن تخصص </span>
                </div>
            </div>


            <div class="item" [routerLink]="['/admin/edit-specialty']">
    
                <span class="material-symbols-rounded">
                    arrow_back_ios
                </span>
    
                <div class="name-icon">
                    <!-- <img src="../../../../assets/images/time-square-svgrepo-com.svg" alt=""> -->
                    <span> ویرایش کردن تخصص </span>
                </div>
            </div>


        </div>

    </div>
</div>