<div class="container">

    <div class="title">
        <img src="../../../../assets/images/discount-price-sale-svgrepo-com.svg" alt="">
        <span class="text-xl">هزینه ویزیت</span>
    </div>

    <div class="set-price">
        
        <div class="price">
            <input type="text" value="150000">
            <span>تومن</span>
        </div>

        <span class="seperator">|</span>

        <div class="prepayment">
            <span>پیش پرداخت</span>
            <input type="text" value="40%">
        </div>
        
    </div>

    <button>تایید</button>
</div>