<!-- <div class="container">

    
    <div class="start-section">
        <img src="../../../assets/images/mooz.jpg" alt="">

        <div style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: flex-start;">

            <div>
                <p style="text-align: justify; font-family: aviny; font-size: xxx-large;">
                    با <span class="text-blue-500">نوبت تو</span> نوبت بگیر<br>اگه زمان برات مهمه !!!
                </p>
            </div>

            <br>
    
            <div class="button-div">
                <app-t-button label=" شروع " type="submit" [routerLink]="['/auth/login']"></app-t-button>
            </div>

        </div>
        
    
    </div>    
</div> -->




<app-turn-box></app-turn-box>