:host {
    @apply flex justify-center items-center w-full;
}

.container {
    @apply flex flex-col justify-center items-center w-full gap-20;
}

.search {
    @apply p-2 rounded-xl;
    max-width: 300px;
    width: 100%;
    border: 2px solid #409CFF;
}

.body {
    @apply flex justify-center items-center flex-wrap w-full gap-8
    overflow-auto h-96;
}