<div class="body-container">
    <div class="container">
      <div class="fixed logo">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      
      <div class="main-login mt-24">
  
        <h1 class="text-xl text-gray-500 text-center font-extrabold">
          شمارهٔ موبایل خود را وارد کنید
        </h1>
  
        <br />
  
      </div>
  
      <div class="inputs">
        <div class="relative float-label-input">
          <input type="tel" id="phone-number" placeholder="" class="input" [(ngModel)]="phoneNumber" name="phoneNumber" required pattern="[0-9]*" minlength="11" maxlength="11" #phoneNumberInput="ngModel" />
          <label for="phone-number" class="lable">شماره همراه</label>
          <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.touched)" class="text-red-500"> این فیلد شامل عدد میباشد </div>
        </div>
      </div>
  
  
      <h5 class="text-base text-gray-500 text-center mt-7" >با وارد کردن شماره <span class="text-blue-600 cursor-pointer">شرایط استفاده از خدمات</span> و <span class="text-blue-600 cursor-pointer">حریم خصوصی</span> را قبول می کنید</h5>
  
      <br />
  
      <div class="flex">
        <button [disabled]="phoneNumberInput.invalid" class="btn-next" routerLink="/auth/otp">ورود</button>
      </div>
      
    </div>
  </div>