<div class="container">

    <div class="first-step">
        <span class="number">1</span>
        <span>انتخاب تاریخ</span>
    </div>

    <div class="second-step">
        <span class="number">2</span>
        <span>انتخاب زمان</span>
    </div>

    <div class="third-step">
        <span class="number">3</span>
        <span>اطلاعات کاربر</span>
    </div>

    <div class="fourth-step">
        <span class="number">4</span>
        <span>پرداخت بیعانه</span>
    </div>

    <div class="fifth-step">
        <span class="number">5</span>
        <span>تایید رزرو</span>
    </div>

</div>