<app-back-icon></app-back-icon>

<div class="container">

    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>
    <div class="row">
         
        <div class="title">
            <span>شنبه</span>
        </div>

        <div class="time">
            <app-turn-box></app-turn-box>
        </div>

    </div>

</div>