
@import '../../../shared/components/t-input/t-input.component.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 110px;
  margin-top: 110px;
}

.weekdays {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.day {
  margin-bottom: 65px;
  cursor: pointer;
}

.week-container {
  display: flex;
  flex-direction: column;
}

.create-turn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-create-turn {
  background-color: white;
  width: 297px;
  height: 110px;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 9px 0px;
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.border-top-box-create-turn {
  background-color: #d9d9d9;
  width: 300px;
  height: 548px;
  margin-top: 17px;
  border-radius: 40px;
  position: absolute;
}

.week-title {
  position: absolute;
  top: 143px;
}



































// :host {
//   @apply flex justify-center items-center w-full h-full;
// }

// .container {
//   @apply flex justify-center items-center w-full;
// }

// .modal-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: nowrap;
// }

// .table {
//   display: flex;
//   width: 85%;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .header {
//   display: flex;
//   width: 737px;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1rem;
//   background-color: #e3e3e3;
//   border-radius: 1.5rem 1.5rem 0 0;
//   position: static;
// }

// .header span {
//   @apply flex justify-center items-center flex-1;
// }

// .body {
//   @apply flex flex-col justify-center items-center w-full gap-1;
// }

// .row {
//   @apply flex justify-between items-center w-full p-3;
//   background-color: #f9e5cf;
//   border-radius: 10px;
// }

// .row span {
//   @apply flex justify-center items-center flex-1;
// }

// .row:last-child {
//   border-radius: 10px;
// }

// .footer {
//   @apply w-full p-3;
//   border-radius: 0 0 1.5rem 1.5rem;
//   background-color: #e3e3e3;
// }

// ::-webkit-scrollbar {
//   display: none;
// }

// :host {
//   @apply flex justify-center items-center w-full h-full;
// }

// .container {
//   @apply flex flex-col justify-center items-center;
// }

// .title {
//   font-size: 1.5rem;
//   line-height: 2rem;
//   display: flow;
//   position: static;
//   margin-bottom: 39px;
// }

// .content {
//   @apply flex justify-center items-center flex-wrap gap-4 overflow-auto
//   max-w-4xl w-full;

//   height: 450px;
// }

// ::-webkit-scrollbar {
//   display: none;
// }
