<app-back-icon></app-back-icon>
<div class="container">

  <div class="week-container">

    <div *ngFor="let day of weekDays; let i = index" class="weekdays" (click)="onDaySelect(day)">
      <div class="day">{{ day.dayTitle }}</div>
    </div>

  </div>

  <div class="create-turn-container" *ngIf="selectedDay">
  
    <div class="box-create-turn">

      <div class="week-title">
        <span>{{ selectedDay.dayTitle }}</span>
      </div>

      <div class="border-top-box-create-turn">

        <div style="gap: 20px; display: flex; flex-direction: column; padding: 20px;">

          <div class="form-group">
            <label for="daySelect">تایم های روز {{ selectedDay.dayTitle }}</label>
            <select id="daySelect" class="form-control" [(ngModel)]="selectedTimePeriodId">
              <option *ngFor="let period of timePeriods" [value]="period.id">
                {{ period.timeFrom  | timePipe}} تا {{ period.timeTo  | timePipe}}
              </option>
            </select>
          </div>
        
          <div>
            <label>تاریخ شروع:</label>
            <app-calendar (selectedDate)="dateFrom = $event" style="position: absolute; z-index: 1; width: 87%;"></app-calendar>
          </div>
    
          <br>
      
          <div>
            <label>تاریخ پایان:</label>
            <app-calendar (selectedDate)="dateTo = $event" style="position: absolute; z-index: 1; width: 87%;"></app-calendar>
          </div>
  
        </div>

        <br>
        <br>

        <div class="inputs">
          <div class="relative float-label-input">
            <input id="user-count" type="number" placeholder="" class="input" [(ngModel)]="count"/>
            <label class="lable">تعداد نوبت</label>
          </div>
        </div>
        
        <br>
        
        <div class="inputs">
          <div class="relative float-label-input">
            <input id="user-mins" type="number" placeholder="" class="input" [(ngModel)]="mins"/>
            <label class="lable">مدت زمان هر نوبت (دقیقه)</label>
          </div>
        </div>

        <br>
        <br>

        <app-t-button label="تولید نوبت" (click)="createTurn()"></app-t-button>

      </div>

    </div>
  
  </div>

</div>