<app-back-icon></app-back-icon>
<div class="container">

  <div class="week-container">

    <div *ngFor="let day of weekDays; let i = index" class="weekdays" (click)="onDaySelect(day)">
      <div class="day">{{ day.dayTitle }}</div>
    </div>

  </div>

  <div class="create-turn-container" *ngIf="selectedDay">
  
    <div class="box-create-turn">

      <div class="week-title">
        <span>{{ selectedDay.dayTitle }}</span>
      </div>

      <div class="border-top-box-create-turn">

        <div style="gap: 20px; display: flex; flex-direction: column; padding: 20px;">

          <div class="form-group">
            <label for="daySelect">تایم های روز {{ selectedDay.dayTitle }}</label>
            <select id="daySelect" class="form-control" [(ngModel)]="selectedTimePeriodId">
              <option *ngFor="let period of timePeriods" [value]="period.id">
                {{ period.timeFrom  | timePipe}} تا {{ period.timeTo  | timePipe}}
              </option>
            </select>
          </div>
        
          <div>
            <label>تاریخ شروع:</label>
            <app-calendar (selectedDate)="dateFrom = $event" style="position: absolute; z-index: 1; width: 87%;"></app-calendar>
          </div>
    
          <br>
      
          <div>
            <label>تاریخ پایان:</label>
            <app-calendar (selectedDate)="dateTo = $event" style="position: absolute; z-index: 1; width: 87%;"></app-calendar>
          </div>
  
        </div>

        <br>
        <br>

        <div class="inputs">
          <div class="relative float-label-input">
            <input id="user-count" type="number" placeholder="" class="input" [(ngModel)]="count"/>
            <label class="lable">تعداد نوبت</label>
          </div>
        </div>
        
        <br>
        
        <div class="inputs">
          <div class="relative float-label-input">
            <input id="user-mins" type="number" placeholder="" class="input" [(ngModel)]="mins"/>
            <label class="lable">مدت زمان هر نوبت (دقیقه)</label>
          </div>
        </div>

        <br>
        <br>

        <app-t-button label="تولید نوبت" (click)="createTurn()"></app-t-button>

      </div>

    </div>
  
  </div>

</div>



<!-- <div style="flex: auto;">

  <div class="week-container">

    <div *ngFor="let day of weekDays; let i = index" class="weekdays" (click)="onDaySelect(day)">
      <div class="day">{{ day.dayTitle }}</div>
    </div>

  </div>



  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; top: -69px; position: fixed; left: -200px;">

    <div style="width: 152px; height: 68px; padding-top: 16.17px; padding-bottom: 16.17px; left: 589px; top: 240px; position: absolute; justify-content: center; align-items: center; gap: 151px; display: inline-flex">
      <div style="text-align: center; color: #231F20; font-size: 24px; font-family: Vazir; font-weight: 400; line-height: 61.98px; word-wrap: break-word">شـنبـــه</div>
    </div>


    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; justify-content: center;">

      <div style="width: 272px; height: 175px; left: 532px; top: 235px; position: absolute; border-radius: 35px; border: 5px #D9D9D9 solid"></div>
      <div style="width: 272px; height: 500px; left: 532px; top: 306px; position: absolute; background: #D9D9D9; border-radius: 35px">
        موز
      </div>

    </div>
  
  
  </div>


</div> -->























































<!-- <div class="container">
  <span class="title"> تولید نوبت </span>
  <div class="header font-extrabold fixed">
    <span>ردیف</span>
    <span>روز</span>
    <span>تاریخ شروع</span>
    <span>تاریخ پایان</span>
  </div>
  <div class="content">
    <div class="table">
      <div class="w-full overflow-auto p-3 h-auto" *ngFor="let item of MyWorkingTimes">
        <div class="body">
          <div class="row" *ngFor="let period of item.timePeriods" (click)="openModal(item.id!, period.id!, period.timeFrom, period.timeTo)">
            <span>{{item.id}}</span>
            <span>{{item.dayTitle | weekDayPipe}}</span>
            <span>{{period.timeFrom | timePipe}}</span>
            <span>{{period.timeTo | timePipe}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-modal [(isOpen)]="isModalOpen" (onSubmit)="handleSubmit()">

  <div class="modal-content">

    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; margin-top: -500px; position: absolute;">
      <label>تایم انتخاب‌شده:</label>
      <p style="border: 2px solid #409cff; margin: 10px; padding: 10px; border-radius: 10px;">از ساعت {{selectedTimeFrom | timePipe }} تا {{selectedTimeTo | timePipe }}</p>
    </div>

      <br>
      <br>

      <div style="gap: 20px; display: flex; flex-direction: column; align-items: stretch; justify-content: center; margin-right: -244px;">
        
        <div>
          <label>تاریخ شروع:</label>
          <app-calendar style="position: absolute; z-index: 1;" (selectedDate)="onDateSelected($event)"></app-calendar>
        </div>
  
        <br>
    
        <div>
          <label>تاریخ پایان:</label>
          <app-calendar style="position: absolute;" (selectedDate)="dateTo = $event" ></app-calendar>
        </div>

      </div>
      
      <br>
      <br>
      <br>
      
    <div>
       <div class="inputs">
        <div class="relative float-label-input">
          <input id="user-name" placeholder="" class="input" [(ngModel)]="count" />
          <label class="lable">تعداد نوبت</label>
        </div>
      </div>
    </div>

    <br>

    <div>
      <div class="inputs">
        <div class="relative float-label-input">
          <input id="user-name" placeholder="" class="input" [(ngModel)]="mins" />
          <label class="lable">مدت زمان هر نوبت (دقیقه)</label>
        </div>
      </div>
    </div>

    <br><br>

    <app-t-button style="width: 467px;" (click)="handleSubmit()" label=" ایجاد نوبت "></app-t-button>

  </div>

</app-modal> -->