<app-back-icon></app-back-icon>

<div class="container">
  <form class="form-template" [formGroup]="workingTimeForm">
    <div formArrayName="workingDays">
      <div style="display: flex; flex-direction: row; gap: 20px; align-items: center; margin-bottom: 20px;" *ngFor="let day of workingDays.controls; let i = index" [formGroupName]="i">

        <div class="form-group">
          <label for="daySelect">روز</label>
          <select id="daySelect" class="form-control" formControlName="selectedDayId">
            <option *ngFor="let day of weekDays" [value]="day.id">{{ day.dayTitle }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>از ساعت</label>
          <app-time-input (timeSelected)="onStartTimeSelected($event, i)"></app-time-input>
        </div>

        <div class="form-group">
          <label>تا ساعت</label>
          <app-time-input (timeSelected)="onEndTimeSelected($event, i)"></app-time-input>
        </div>

        <ng-persian-datepicker (onSelect)="onSelect($event, i)">
          <input class="hidden" formControlName="selectedDate"/>
        </ng-persian-datepicker>

        <button  style="display: flex; flex-direction: row-reverse; align-items: flex-end; gap: 7px;" (click)="removeWorkingDay(i)" type="button"> حذف <span style="width: 30px; height: 30px; background-color: #ff0000; border-radius: 30px; font-size: 30px; display: flex; justify-content: center; flex-direction: column; color: azure;">-</span> </button>

      </div>
    </div>

    <button style="display: flex; flex-direction: row-reverse; align-items: flex-end; gap: 7px;" (click)="addWorkingDay()" type="button">افزودن روز و تایم جدید <span style="width: 30px; height: 30px; background-color: #409cff; border-radius: 30px; font-size: 30px; display: flex; justify-content: center; flex-direction: column; color: azure;">+</span></button>

    <br>

    <app-t-button label="ثبت تایم کاری" (click)="submitWorkingTimes()" [disabled]="!workingTimeForm.valid">Submit</app-t-button>

  </form>
</div>