<table class="t-container">
    <tbody>
        <tr class="t-header">
            <th>ردیف</th>
            <th>نام و نام خانوادگی</th>
            <th>کد ملی</th>
            <th>تاریخ و ساعت مراجعه</th>
        </tr>

        <tr class="t-row">
            <td class="index">1</td>
            <td>امیر حسین ستاری</td>
            <td>445345345</td>
            <td>0934593459</td>
            <td>مسیبتسمبس</td>
        </tr>
    <!-- </tbody> -->
</table>
<div class="flex-1">

</div>
<app-export-table-menu></app-export-table-menu>