<div class="gap-5 flex flex-col">
    
    <div class="bg-blue-500 w-auto h-10 flex m-auto items-center gap-9 text-white rounded-3xl p-6">
    
        <span> از ساعت </span>
        <input class="bg-blue-500 border-none" type="time" />
        <span>تا</span>
        <input class="bg-blue-500 border-none" type="time" />
    
    </div>
    
    
    <div class="flex justify-between items-center">
    
        <div class="bg-blue-500 w-96 h-10 flex m-auto items-center justify-center gap-5 text-white rounded-3xl p-6">
        
            <input class="bg-blue-500 border-none w-20 outline-none text-center " style="border-bottom: 1px solid white;" type="text" />
            <span> نوبت </span>
            <input class="bg-blue-500 border-none w-20 outline-none text-center " style="border-bottom: 1px solid white;" type="text" />
            <span> دقیقه ای </span>
        
        </div>
        
        <div class="bg-blue-500 w-10 h-10 p-2 rounded-full items-center justify-center flex text-4xl text-white cursor-pointer">
            +
        </div>
    
    </div>

</div>    


