/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'ngx-toastr/toastr';

// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
@import "assets/styles/table.scss";

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

html,
app-root {
  height: 100%;
  display: block;
  font-size: 16px;
  @apply h-screen bg-sky-500;
}

body {
  margin: 0;
  font-family: 'vazirmatn', sans-serif;
  direction: rtl;
  height: 100%; 
}

.material-symbols-rounded {
  cursor: pointer;
  user-select: none;
}

/* width scroll */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle scroll */
::-webkit-scrollbar-thumb {
  background: #058aff;
  border-radius: 50px;
  padding: 0;
  margin: 0;
}