:host {
    @apply flex justify-center items-center max-w-5xl w-full;
}

.container {
    @apply flex flex-col justify-center items-center gap-12;
}

.divided-turns {
    @apply flex justify-between items-center w-4/5 px-4;
}

.visited {
    @apply p-2 rounded-lg text-center max-w-52 w-full cursor-pointer select-none;
    border: 2px solid #e2e1e1;
    color: #00c3ff;
    transition: all 200ms ease;
    font-weight: 600
}

.active {
    @apply p-2 rounded-lg text-center max-w-52 w-full cursor-pointer select-none;
    border: 2px solid #e2e1e1;
    color: #32D74B;
    transition: all 200ms ease;
    font-weight: 600
}

.Canceled {
    @apply p-2 rounded-lg cursor-pointer max-w-52 w-full text-center select-none;
    border: 2px solid #e2e1e1;
    color: #FF453A;
    transition: all 200ms ease;
    font-weight: 600
}

.active-visited {
    border: none;
    color: white;
    background-color: #00c3ff ;
}

.active-Canceled {
    border: none;
    color: white;
    background-color: #FF453A;
}

.active-active {
    border: none;
    color: white;
    background-color:  #32D74B;
}