<div class="container">

    <div class="divided-turns">

        <span class="active" (click)="setActiveItem('active')" [class.active-active]="activeItem == 'active'">
            نوبت‌ امروز
        </span>

        <span class="visited" (click)="setActiveItem('visited')" [class.active-visited]="activeItem == 'visited'">
            ویزیت شده 
        </span>

        <span class="Canceled" (click)="setActiveItem('Canceled')" [class.active-Canceled]="activeItem == 'Canceled'">
            کنسل شده
        </span>

    </div>

    <app-table-today-turns #appTableTodayTurns></app-table-today-turns>

</div>
