<div class="container">

  <div class="table">

    <div class="header">
      <span>ردیف</span>
      <span>نام و نام خانوادگی</span>
      <span>تاریخ مراجعه</span>
      <span>ساعت مراجعه</span>
      <span>پرداخت</span>
    </div>

    <div class="w-full overflow-auto">

      <div class="body">
  
        <div class="row">
          <span>1</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span>1</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span>1</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span>1</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span>1</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span>2</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span>3</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span>3</span>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
      </div>

    </div>

  </div>

</div>



<!-- <app-export-table-menu></app-export-table-menu> -->

<!-- <table>
  <thead>
    <tr>
      <th>ردیف</th>
      <th>نام و نام خانوادگی</th>
      <th>کدملی</th>
      <th>شماره همراه</th>
      <th>تاریخ و ساعت مراجعه</th>
      <th>پرداخت</th>
      <th>مبلغ پرداخت</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>رادمان بیگدلی</td>
      <td>4271700721</td>
      <td>09120424373</td>
      <td>22:45 -- 1402/06/6</td>
      <td>نقدی</td>
      <td>155.000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>سید علیرضا موسوی</td>
      <td>4271700721</td>
      <td>09120424373</td>
      <td>22:45 -- 1402/06/6</td>
      <td>درگاه</td>
      <td>88.000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>سید علیرضا موسوی</td>
      <td>4271700721</td>
      <td>09120424373</td>
      <td>22:45 -- 1402/06/6</td>
      <td>درگاه</td>
      <td>88.000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>سید علیرضا موسوی</td>
      <td>4271700721</td>
      <td>09120424373</td>
      <td>22:45 -- 1402/06/6</td>
      <td>درگاه</td>
      <td>88.000</td>
    </tr>
  </tbody>
</table> -->