<app-back-icon></app-back-icon>

<div class="container">

  <div class="table">

    <div class="header">
      <span class="number">ردیف</span>
      <span *ngIf="isTodayTurns()">نوبت</span>
      <span>نام و نام خانوادگی</span>
      <span>تاریخ مراجعه</span>
      <span>ساعت مراجعه</span>
      <span>پرداخت</span>
    </div>

    <div class="w-full overflow-auto">

      <div class="body">
  
        <div class="row">
          <span class="number">1</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span class="number">1</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span class="number">1</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>

        <div class="row">
          <span class="number">1</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span class="number">1</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span class="number">2</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span class="number">3</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
        <div class="row">
          <span class="number">3</span>
          <div class="turn-buttons" *ngIf="isTodayTurns()">
            <button class="accept">پذیرش</button>
            <button class="waiting">انتظار</button>
            <button class="reject">کنسل</button>
          </div>
          <span>امیر حسین ستاری</span>
          <span>29 بهمن 1402</span>
          <span>18:00</span>
          <span>نقدی</span>
        </div>
  
      </div>

    </div>

  </div>

</div>