<div class="table-box">
  <table>
    <tbody>
      <tr>
        <th>ردیف</th>
        <th>نام و نام خانوادگی</th>
        <th>کدملی</th>
        <th>شماره همراه</th>
        <th>تاریخ و ساعت مراجعه</th>
        <th>پرداخت</th>
        <th>مبلغ پرداخت</th>
      </tr>
      <tr>
        <td>1</td>
        <td>رادمان بیگدلی</td>
        <td>4271700721</td>
        <td>09120424373</td>
        <td>22:45 -- 1402/06/6</td>
        <td>نقدی</td>
        <td>155.000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>سید علیرضا موسوی</td>
        <td>4271700721</td>
        <td>09120424373</td>
        <td>22:45 -- 1402/06/6</td>
        <td>درگاه</td>
        <td>88.000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>سید علیرضا موسوی</td>
        <td>4271700721</td>
        <td>09120424373</td>
        <td>22:45 -- 1402/06/6</td>
        <td>درگاه</td>
        <td>88.000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>سید علیرضا موسوی</td>
        <td>4271700721</td>
        <td>09120424373</td>
        <td>22:45 -- 1402/06/6</td>
        <td>درگاه</td>
        <td>88.000</td>
      </tr>
    </tbody>
  </table>
</div>

<app-export-table-menu></app-export-table-menu>

<!-- <table class="t-container">
<tbody>
        <tr class="t-header">
            <th>ردیف</th>
            <th>نام و نام خانوادگی</th>
            <th>کد ملی</th>
            <th>شماره همراه</th>
            <th>تاریخ و ساعت مراجعه</th>
            <th>پرداخت</th>
            <th>مبلغ پرداختی</th>
        </tr>

        <tr class="t-row">
            <td class="index">1</td>
            <td>امیر حسین ستاری</td>
            <td>445345345</td>
            <td>0934593459</td>
            <td>مسیبتسمبسفقا</td>
            <td>مسیبافقباتسمبس</td>
            <td>مسیبتسمبسفبا</td>
        </tr>
    </tbody>
</table>
<div class="flex-1">

</div> -->

<!-- <app-t-table></app-t-table> -->
